A.BackToHome:link, A.BackToHome:visited {
	
	padding: 6px 25px;
	Border-style: solid;
	Border-width: 5px;
	Border-radius: 10px;
	Border-color: red;
	Background-color: black;
	color: red;
	text-decoration: none;
	
}
A.BackToHome:hover {
	
	color: darkred;
	border-color: darkred;
	font-size:18px;
	text-decoration: none;
	
}

A.C3:link, A.C3:visited{
  
  font-size: 30px;
  color: red;
  border-style: solid;
  padding: 6px 25px;
  border-color: red;
  border-radius: 10px;
  border-width: 5px;
  width:40%;
  background-color: black;
  text-decoration: none;
  
  
}

A.C3:hover{
  
  font-size: 32px;
  color: darkred;
  border-color: darkred;
  text-decoration: none;
  
}

body {
  
  background-size:cover;
  background: url("HomePageBackground.jpg") no-repeat center center fixed;
  
}